body{
  background-image: url("img/ddd.webp");
  
  background-repeat: no-repeat;
  background-size:100vw 100vh;
  
}
h3{
  opacity: 0.9;
  color: floralwhite;
}
td{
text-align: center;
padding:0px;
height: 40px;
width: 48px;
}
#play1{
  margin-top: 30px;
  display: inline;
  padding: 1px;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#play2{
  margin-top: 30px;
  display: inline;
  padding: 1px;
  border-radius: 5px;
}
#win{
  position: absolute;
  margin-top: 70px;
  margin-left: 470px;
}

.player{
  border-radius: 100px;
  cursor: pointer;
}
#img{
  border-radius: 10px; 
  margin-left: 40px;
  margin-right: 40px;
  box-shadow: 2px 2px 20px wheat;
  border-radius: 20%;
}
 #table{
  background-image:url("img/snake.jpg");
  background-repeat: no-repeat;
  margin-top: 60px;
  margin-bottom: 20px;
  height: 480px;
  width: 480px;
}
 

@media only screen and (max-width: 480px) {
   td{
    text-align: center;
    height:18px;
    width: 28px;
    padding-top: 5px;
    }
  .player {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
  #img {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15%; 
    height: 50px;
    width: 50px;
  }
  #table {
    background-image:url("img/snake_p.jpg");
    background-repeat: no-repeat;
    width:280px;
    height: 280px;
    margin-top: 10px;
  }
  #win{
    margin-left: 0px;
    margin-top: 50px;
    width: 100%;
  }
  .id{
    height:15px;
    width:15px;
  }
  #rule{
    margin-top: 430px;
  }
  
}

#rule{
  position: absolute;
}
li{
  background-color: wheat;
  opacity: 0.8;
  margin: 2px;
  color: red;
  list-style:none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 5px;
  padding: 3px;
}
button{
  border-radius: 5px;
  border-top-right-radius: 20px;
  color:darkred;
  background-color:antiquewhite;
  opacity: 0.5;
  font-size: 15px;
}
button:hover{
  opacity: 1;
  cursor: pointer;
}
